<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <style>
      body{
        background: #50a4fb;
      }
      img{
        width: 100%;
      }
      span{
        color: white;
        font-size: 24px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <span>A social learning platform which connects people/resources/experiences<span>
    </main>
  </body>
</html>
